body {
    background-color: lightblue;
  }
.navigator { 
    background-color: lightpink;
    float: left;
  }
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  .contact {
    font-size: 20px;
    text-align: justify;
    width: 70%;
    margin-left: 15%;
}
ul {
    list-style-type: none;
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111111;
  }